@import url("https://fonts.googleapis.com/css?family=Pixelify+Sans:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");


/* Core Sans C */
@font-face {
   font-family: "Core Sans C";
   src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"),
      url("../fonts/CoreSansC-55Medium.woff") format("woff");
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Core Sans C";
   src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
      url("../fonts/CoreSansC-65Bold.woff") format("woff");
   font-display: swap;
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Core Sans C";
   src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"),
      url("../fonts/CoreSansC-65Bold.woff") format("woff");
   font-display: swap;
   font-weight: 800;
   font-style: normal;
}


/* Causten */
@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Medium.woff2") format("woff2"),
      url("../fonts/Causten-Medium.woff") format("woff");
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Semi-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}